.DS_Store
*.rbc
*.sassc
.sass-cache
.capybara.html
.DS_Store
/log
/tmp
/node_modules
/db/*.sqlite3
/public/system
/storage
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/public/assets/
.yardoc
yarn.lock

## Environment normalisation:
/.bundle
/vendor/bundle

#dotenv
.env*

# Ignore application configuration
/config/application.yml
